<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="morning" class="exam1.MorningGreetingImpl" scope="prototype"/>
	<bean id="afternoon" class="exam1.AfternoonGreetingImpl" scope="prototype"/>
	<bean id="evening" class="exam1.EveningGreetingImpl" scope="prototype"/>
	<bean id="night" class="exam1.NightGreetingImpl"/>
	<bean id="localdatetime" class="java.time.LocalDateTime" factory-method="now"/>
</beans>
