<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
     <setting name="jdbcTypeForNull" value="NULL" />
     <!-- name명을 아무거나 넣으면 프로그램이 인식을 못함 -->
     <setting name="logImpl" value="LOG4J2" />
  </settings>  
</configuration>



