<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context 
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    
    <!-- DB관련 커넥션풀 -->
    <bean id="boardDaoImpl" class="board.dao.BoardDaoImpl"/> 
    
    <!-- Listener 설정 -->    
    <context:component-scan base-package="board.controller" annotation-config="true" />
    
    <!-- ViewResolver -->    
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="order" value="2"/>    
        <property name="prefix" value="/WEB-INF/view/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <bean class="org.springframework.web.servlet.view.ResourceBundleViewResolver">
        <property name="basename">
            <value>BundleView</value>
        </property>
        <property name="order" value="1"/>    
    </bean>
 
    <!-- DI 기능 주입-->    
    <bean id="boardService" class="board.service.BoardServiceImpl" />
 
</beans>